body{
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.5em;
}

#body{
  margin-top: 0;
  padding: 0;
  height: fit-content;
}

#world-map>h3{
    margin-bottom: 1.25em;
}
  

#Heading{
    color: #212121;
}

hr{
    margin: 0 auto 4em;
    border: 0.025em #6D9886 dotted;
    border-bottom: 0em;
    border-width: 0.5em;
    width:30%;
}

.container h3{ 
  text-decoration: underline solid #6D9886;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  font-weight: 900;
}

.text {
  font-size: 18px;
  text-align: left;
  padding-left: 150px;
  padding-right: 50px;
  color: #212121;
}

#Locations h1{
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 1em;
}

.img{
  padding-left: 50px;
  max-width: 480px;
  border-radius: 100%;
}


#Locations p{
  text-align: justify;
}

.image {
  flex-basis: 40%;
}


@media screen and (max-width: 1000px) {
  .container{
      flex-direction: column;
  }
  #Locations .img{
    width: 80%;
    border-radius: 50%;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 0;
    transform: scale(0.75);
  }
  .image{
      height: 15em;
  }
  #Locations h3{
    text-align: center
  }
  .text{
      padding: 0 2.5em 0 2.5em;
  }
}
