.body{
    color: #212121;
}

#page-title{
    color: #212121;
    font-size: x-large;
    text-decoration: underline 0.15em #6D9886;
    margin-bottom: 1.5em;
}

p{
    text-align: justify;
    font-size: large;
}

.container{
    margin: 5% 5%;
    padding: 5%;
    background-color: #f6f6f6;
    border: #f6f6f6 solid 2px;
    box-shadow: 0rem 0.125rem 0.5rem 0rem #212121;
    outline-offset: -0.3em;
}


@media screen and (max-width:1000px){
    #page-title{
        font-size: x-large;
    }
    .container p{
        font-size: medium;
    }
}
